/*****************GENERAL*****************/
* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
    --brightRed: rgb(242, 95, 58);
    --darkBlue: rgb(35, 44, 81);
    --darkGreyBlue: rgb(143, 148, 167);
    --veryDarkBlue: rgb(29, 30, 37);
    --VeryPaleRed: rgb(255, 239, 234);
    --LightGreyVariant: rgb(249, 249, 249);
}

html {
    font-size: 16px;
    margin: 0px;
}

body {
    background-image: url("/imagenes/bg-tablet-pattern.svg");
    background-repeat: space;
    margin: 0px;
}

/*******************HEADER*****************/
header {
    align-items: center;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
    justify-content: space-around;
    left: 0;
    padding: 0 11vw;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.logo-img {
    width: 145.54px;
}

.hamburguesa {
    display: none;
}


/*****************NAVBAR*****************/
nav ul {
    display: flex;
    gap: 28px;
    list-style: none;

}

nav ul a {
    color: var(--darkBlue);
    font-size: 0.81rem;
    font-weight: 500;
}

.get-started {
    background-color: var(--brightRed);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 13px;
    height: 44px;
    width: 134px;

}

header button {
    display: block;
}

/***************MAIN******************/
#home {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    margin-top: 20vh;
    padding: 0 11vw;
}

.hero {
    max-width: 100%;
    width: 439px;
}

h1 {
    color: var(--darkBlue);
    font-size: 3.15rem;
    margin: 0px;

}

.hero-phrase {
    color: var(--darkGreyBlue);
    font-weight: 500;
    line-height: 157.1%;
    margin-bottom: 28px;
    margin-top: 28px;
    width: 80%;
}

.graph {
    max-width: 100%;
    width: 580px;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15vh 0;
    padding: 0 11vw;
}

.explainer {
    max-width: 100%;
    width: 433px;
}

h3 {
    color: var(--darkBlue);
    font-size: 2.25rem;
    margin: 0px;
    padding-bottom: 4vh;
}

.explainer-phrase {
    color: var(--darkGreyBlue);
    font-weight: 500;
    line-height: 151.1%;
    margin: 0px;
    padding-bottom: 50px;
    width: 88%;
}


.lista {
    align-content: space-between;
    max-width: 95%;
    width: 556px;
}

.fragment {
    align-items: flex-start;
    display: flex;

}

.botones {
    background-color: var(--brightRed);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1rem;
    height: 43px;
    width: 69px;
}

.text {
    margin-left: 10px;
    padding-top: 0px;

}

h4 {
    color: var(--darkBlue);
    font-weight: 700;
    font-size: 1.13rem;
    letter-spacing: -1.5%;
    margin: 0px;
}

.items {
    color: var(--darkGreyBlue);
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: -1%;
    line-height: 26px;


}

.comments-title {
    font-size: 2.45rem;
    width: 100%;
    color: var(--darkBlue);
    text-align: center;
    padding: 0px 5px;
}

.comments {
    display: flex;
    margin-top: 12vh;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    position: relative;
    width: 436px;
    max-width: 90%;
    background-color: var(--LightGreyVariant);
    min-height: 219px;
    padding-bottom: 16px
}

.anisha .richard {
    display: block;
}

article img {
    border-radius: 50%;
    position: absolute;
    left: 42%;
    top: -35px;
    height: 70px;
    width: 70px;
}

h5 {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 156.6%;
    letter-spacing: -1%;
    color: var(--veryDarkBlue);
    padding-top: 15px;
}

article p {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    line-height: 156.6%;
    color: var(--darkGreyBlue);
    margin: 16px
}

.puntitos-slider {
    display: none;
}

.comments-button {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 20vh;
}



.banner {
    background-color: var(--brightRed);
    display: flex;
    justify-content: space-around;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 60px;
    align-items: center;
    letter-spacing: -0.05%;
    color: white;
    flex-wrap: wrap;
    padding: 7vh 11.45vw;
}

.banner h2 {
    margin: 0px 0px 18.6px
}

.final-button {
    background-color: white;
    color: var(--brightRed);
    margin-top: 18.6px;
    width: 134px;
    height: 44px;
    font-size: 0.81rem;
    border: none;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/***************FOOTER*************/
footer {
    padding-left: 11vw;
    padding-right: 11vw;
    padding-top: 7.47vh;
    padding-bottom: 6vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--veryDarkBlue);
    max-width: 100vw;
    flex-wrap: wrap-reverse;
    position: relative;
}

.socialAndLogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 100%;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 141px;
    width: 392px;
    max-width: 100%
}

footer div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    list-style: none;
    flex-wrap: wrap;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

form label,
form span {
    display: none;

}


form input {
    display: flex;
    align-items: center;
    padding: 7px;
    height: 5vh;
    border-radius: 50px;
    border: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 200;
    font-size: 0.88rem;
    color: var(--darkGreyBlue);
    width: 201px;
}



form button {
    width: 63px;
    height: 6vh;
    color: white;
    font-weight: 500;
    font-size: 0.81rem;
    border: none;
    border-radius: 50px;
    background-color: var(--brightRed);
    font-family: 'Be Vietnam Pro', sans-serif;

}

.copyright {
    color: var(--darkGreyBlue);
    font-weight: 500;
    font-size: 0.78rem;
    align-self: flex-end;
    margin: 0px;
}

.copyright-mobile {
    display: none;
}

/*************Pseudoselectores*************/

nav ul a:hover {
    color: var(--darkGreyBlue)
}

.get-started:hover {
    background-color: lightsalmon;
}

.footer-links ul:nth-child(1) {
    padding-left: 0px;
}

.footer-links ul:nth-child(2) {
    padding-left: 0px;
}

form input:invalid {
    border: 4px solid red;
}

form:invalid::after {
    content: "Please insert a valid email";
    color: red;
    font-size: 0.8rem;
    display: block;
    position: absolute;
    top: 55px;
}

form button:hover {
    background-color: lightsalmon;
}

.final-button:hover {
    color: lightsalmon;
}

svg:hover path {
    fill: #f3603b;
}

footer div ul li a:hover {
    color: var(--brightRed)
}




/**************MEDIA QUERIES************/

@media (max-width:375px) {

    body {
        background-image: url('../imagenes/bg-tablet-pattern.svg');
        background-size: contain;
    }

    header {
        justify-content: space-between;
        padding-top: 6vh;
    }

    nav {
        visibility: hidden;
    }

    .hamburguesa {
        display: block;
    }

    header button {
        display: none;
    }

    h1 {
        font-size: 2.15rem;
        text-align: center;
    }

    .hero-phrase {
        text-align: center;
        width: auto;
    }

    .hero .get-started {
        margin-left: 20vw;
    }

    .explainer {
        text-align: center;
    }

    .explainer-phrase {
        width: auto;
    }


    h4 {
        background-color: var(--VeryPaleRed);
        padding-right: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: 100vw;
    }

    .comments-title {
        font-size: 1.9rem;
    }

    .anisha {
        display: none;
    }

    .richard {
        display: none;
    }

    .puntitos-slider {
        display: block;
        width: 80px;
        margin-left: 40vw;
        margin-top: 20px;
    }

    .banner {
        text-align: center;
    }

    footer {
        justify-content: center;
    }

    .socialAndLogo {
        flex-direction: column-reverse;
        margin-top: 40px;
        margin-bottom: 80px;
        height: 15vh;
        width: 267px;
        align-items: center;
    }

    .logo-footer {
        width: 146px;
    }

    .social {
        display: flex;
        justify-content: space-between;
        width: 75vw;
    }

    svg {
        transform: scale(1.5);
    }

    .footer-links {
        width: 267px;
        margin-top: 15px;
    }

    form {
        margin-bottom: 8vh;
    }


    .copyright {
        display: none;
    }

    .copyright-mobile {
        display: block;
        color: var(--darkGreyBlue);
        font-weight: 500;
        font-size: 0.78rem;
        position: absolute;
        right: 20vw;
        bottom: 50px;
    }

}